<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body *ngIf="!showForgottenPasswordForm">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">S'inscrire</label>
					<input type="text" name="txt" placeholder="Nom d'utilisateur" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Mot de passe" required="">
					<button>S'inscrire</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Se connecter</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Mot de passe" required="">
					<button>Se connecter</button>
          <div class="ForgottenPassword" (click)="toggleForgottenPasswordForm()">Mot de passe oublié?</div>
				</form>
			</div>
	</div>
</body>
<body *ngIf="showForgottenPasswordForm" class="Form">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
    <meta name="keywords" content="forgot password page, basic html and css">
    <title>Forgot Password Page - HTML + CSS</title>
  </head>
  <body>
    <div class="row">
      <label>Mot de passe oublié?</label>
      <h6 class="information-text">Entrez votre adresse mail pour recevoir un mail de récupération</h6>
      <div class="form-group">
        <input type="email" name="user_email" id="user_email" placeholder="Adresse Email">
        <button (click) = "toggleForgottenPasswordForm()">Valider</button>
      </div>
      <div class="footer">
        <h5>Nouveau ici? <div style="color:#fff;" class="Sinscrire" (click)="toggleForgottenPasswordForm()">S'inscrire</div></h5>
      </div>
    </div>
  </body>
</body>
</html>
<router-outlet />
